<!DOCTYPE html>
<html>
<head>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NDF8CV5');</script>
<!-- End Google Tag Manager -->


    <title>site test Arcane</title>

</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NDF8CV5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


<h1> Ceci est la home page</h1>
<p>Ceci est un paragraphe</p>
 
<h1>Ceci est un autre titre </h1>
<p>Autre paragraphe</p>

<div>
    <a href="./product">aller vers la page produit</a>
    
</div>

<div>
<a href=# class="test-arcane">Un lien</a>
</div>


</body>
</html>